<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Management</title>
</head>
<body>
    <h1> Customer Management </h1>
    <nav>
        <ul>
            <li><a href="{% url 'employee_app:overview_customers' %}">View All Customers</a></li>
            <li><a href="{% url 'employee_app:create_customer' %}">Create New Customer</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>