<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Main </h1>

    <h3> Create Customer </h3>
    <form action="{% url 'employee_app:create_customer' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter Username" />
        <input type="text" name="first_name" placeholder="Enter First Name" />
        <input type="text" name="last_name" placeholder="Enter Last Name" />
        <input type="email" name="email" placeholder="Enter Email" />
        <input type="password" name="password1" placeholder="Password" />
        <input type="password" name="password2" placeholder="Repeat Password" />
        <select name="customer_rank">
            <option value="bronze">Bronze</option>
            <option value="silver">Silver</option>
            <option value="gold">Gold</option>
        </select>
        <input type="number" name="customer_phone_number" placeholder="Phone Number" />
        <label>Customer can loan:</label>
        <input type="checkbox" name="customer_can_loan">        
        <button>Create Customer</button>
    </form>
</body>
</html>