{% extends './base.html' %}
{% block content %}

    <h4> Edit {{customer.user.last_name}} {{ customer.user.first_name }}'s Account Number {{ account.account_number }}</h4>
    <form action="{% url 'employee_app:edit_customer_account' customer.id account.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="customer_id" hidden value="{{ customer.id }}" />
        <input type="text" name="account_id" hidden value="{{ account.id }}" />
        <label>Balance</label>
        <input type="text" name="account_balance" value="{{ account.account_balance }}" placeholder="Edit Balance" />
        <br/>
        <label>Current Loans</label>
        <br/>
        <label>Payments Loans</label>
        <br/>
        <label>Previous Loans</label>
        <button>Edit Customer Account</button> 
    </form>

    {{ customerFormErrors.errors }}

{% endblock %}