{% extends "auth_app/base.html" %}
{% block content %}

    <h3> All Customers </h3>
    <!-- Todo: check if new_user and edited_user exists -->
    {% if new_user %}
    <p>New user: {{ new_user }}</p>
    {% endif %}
    {% if edited_user %}
    <p>Edited user: {{ edited_user }}</p>
    {% endif %}
    {% if edited_account %}
    <p>Edited account: {{ edited_account }}</p>
    {% endif %}
    <hr>
    {% for customer in customers %}
        {% if customer.user.is_staff == False %}
        <h5 style="margin-top: 30px"> Customer: </h5>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Customer Rank</th>
                <th scope="col">Customer Loan</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">{{ customer.user }}</th>
                <td>{{ customer.customer_phone_number }}</td>
                <td>{{ customer.customer_rank }}</td>
                <td>{{ customer.customer_has_loan}}</td>
                <td><a href="/employee/edit_customer/{{customer.id}}"> Edit customer </a></td>
            </tr>
            </tbody>
        </table>

        <h5> Customer Accounts: </h5>
        
            
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Account Number</th>
                        <th scope="col">Account Balance</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for account in accounts %}
                        {% if account.account_user_fk == customer %}
                        <tr>
                            <th scope="row">{{ account.account_number }}</th>
                            <td>{{ account.account_balance }}</td>
                            <td><a href="/employee/edit_customer_account/{{customer.id}}/{{account.id}}"> Edit account </a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

        {% endif %}
    {% endfor %}

{% endblock %}