<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Signup </h1>
    <a href="{% url 'auth_app:login' %}">Go to login</a>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ signup_user.as_p }}
        {{ profile_user.as_p }}
        {{ signup_user.errors }}
        {{ profile_user.errors }}
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>