{% extends "transaction_app/base.html" %}


{% block content %}
<small class="badge badge-pill badge-primary"> <a href="/transaction" > Go back</a></small>
    <h1> Loan Confirmed</h1>

    <p>  <b>  Transaction id: </b>  {{ transaction.transaction_id}} </p>
    <p>  <b> Transaction amount: </b>  DKK {{transaction.transaction_amount}} </p>

    <a href="/transaction/new"> New Transaction</a>
    <a href="/transaction/"> Transaction Menu</a>
    <a href="/auth/dashboard"> Dashboard</a>
{% endblock %}