{% extends "auth_app/base.html" %}



{% block content %}
    <h3> Account Overview</h3>
    <p>Hello <b>  {{ user }} </b> , here is your information: </p>
    <small class="badge badge-pill badge-primary"> <a href="/auth/dashboard" > Go dashboard</a></small>

    <div>
        <p> <b> Username:</b> {{user.username}} </p>
        <p> <b> Email: </b>  {{user.email}}</p>
        <p> <b> Phone: </b> {{customer.customer_phone_number}} </p>

        <span> <b> We strongly suggest activate the multifactor authentification </b> <a href="/settings/mfa/configure/"> here </a></span>

    </div>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Account Number</th>
              <th scope="col">Account Balance</th>
              <th scope="col"> Account Type </th>
              <th scope="col">  </th>
            </tr>
          </thead>
            {% for account in user_accounts %}
            <tbody>
                <tr>
                  <td>{{  account.account_number }}</td>
                  <td> DKK {{account.account_balance}}</td>
                  <td> {{customer.customer_rank}} </td>
                  <td> <a href=""> See more </a> </td>
                </tr>
            </tbody>
            {% endfor %}
        </ul>

        
    
        
{% endblock %}